<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="ModelsManager" connectionString="data source=musicshop.mssql.somee.com;initial catalog=musicshop;persist security info=True;user id=sasha_fpv_SQLLogin_1;password=ls7hmwf1ib;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>